$main-color-light: #007aff;
$main-color-dark: #3e4652;
$dark-gray-1: #464e5b;
$dark-gray-10: #505967;
$white-light: rgba(255, 255, 255, 25%);

$gray-color-1: #8E8E8E;
$gray-color-2: #eaeaea;
$gray-color-5: #cbcbcb;
$gray-color-10: #f8f9fb;

$color-primary: #007bff;
$color-success: #39b984;
$color-danger: #dc3545;

$test-color: #0a194a;
